{% extends 'blog/layout.html' %}
{% load static %}
{% block body %}


    <script>

var i = 0;
var txt = "{{textt}}"
var speed = 50;

function typeWriter() {
    if (i < txt.length) {
        document.getElementById("demo").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);

    }
}

var g = 0;
var txtg = "{{mtn2}}"
var speedg = 50;
      
function TypeTow() {
    if (g < txtg.length) { 
        document.getElementById("mtn2").innerHTML += txtg.charAt(g);
        g++;
        setTimeout(TypeTow, speedg);
}
}
var j = 0;
var txtj = "{{mtn3}}"
var speedj = 50;

function TypeThree() {
    if (j < txtg.length) {
        document.getElementById("mtn3").innerHTML += txtj.charAt(j);
        j++;
        setTimeout(TypeThree, speedj);
    }
}
    </script>


{#    <button type="button"  >helooooooo</button>#}
<div class="felex-base">


 <div class="felex-one" >   <div class="felex-one-in"> <p id="demo" class="h3" ></p>  </div>  </div>


 <div class="felex-two"  >   <div class="felex-two-in"> <p id="mtn2"class="h3" ></p>      </div>  </div>


 <div class="felex-three" >  <div class="felex-three-in">  <p id="mtn3"class="h3" >     </div>  </div>



</div>


<img id="img" src="{% static 'blog/img/bg.jpg' %}" alt="sh" >
    <div id="home-line">
      
       <a style="cursor: pointer;" onclick="scrollToTarget()" >

        <i style="font-size: 40px;color: white;border: 1px solid black;border-radius: 15px" class="fa fa-user-secret">

        </i>
      </a>
    </div>
    <div>
      {% comment %} <a style="position:relative;top:300vh" id="a1">
        heloow
      </a> {% endcomment %}


   
    </div>



    <div id="slideshow" class="slideshow-container">
        <p style="color:white;">heloo</p>

      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="{% static 'blog/img/bg.jpg' %}" style="width:100%">
        <div class="text">Caption Text</div>
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="{% static 'blog/img/ss.jpg' %}" style="width:100%; ">
        <div class="text">Caption Two</div>
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="{% static 'blog/img/bg.jpg' %}" style="width:100%">
        <div class="text">Caption Three</div>
      </div>
      
      </div>
      <br>
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>
      
      
      <script>
      let slideIndex = 0;
      showSlides();
      
      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 2 seconds
      }
      </script>
{% endblock %}
<i class="fa fa-user-secret"></i>