{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .container{
    justify-content: center;
    filter: blur(.6px);
    background-color: black;
    width: 100%;
    padding-bottom:20px;

    }
    #pp{
      color:rgb(14, 92, 14);
      display:inline-block;
      font-size: 45px;
      text-align:center;
      height:45%;
      width: 0ch;
      overflow:hidden;
      border-right: 1px solid white;
      animation:
      typing .5s steps(7) forwards 1s;
    }
    @keyframes typing{
      100% {width:9.5ch;}
    }


  </style>



  <title>PegasusWeb</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    function scrollToTarget() {
      const target = document.getElementById('slideshow');
      const me = document.getElementById('home-line');
      me.style.display = "none";
      target.scrollIntoView({ behavior: 'smooth' });
    }
    
</script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styl1.css' %}" >
</head>




<body style="background-color: black"  onload="TypeTow();typeWriter()">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div style="" class="container">
  <p id="pp">Who Am I?</p><p id="pp" style="font-size:25px;">IM full stack?</p><p id="pp">IM Hacker?</p><p id="pp" style="font-size:25px;" >Who Ar You?</p><p id="pp" >Pegasus</p>
</div>



{% block body %}



{% endblock body %}
</body>
</html>